* {
    font-family: 'Permanent Marker', cursive;
    box-sizing: border-box;
    text-align: center;
}
h1 {
    font-size: 4vmax;
    letter-spacing: 0.5vmin;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-size: 2vmax;
    margin-top: 10px;
}
h3 {
    font-size: 25px;
    display: inline;
    border-inline-end: 2vmin;
    border-radius: 10px;
    opacity: 0.8;
}
section > div {
    color: #808080;
    text-shadow: -1px 3px black;
}

body {
    background-image: url(https://w0.peakpx.com/wallpaper/230/19/HD-wallpaper-appa-netflix-the-avatar-the-last-airbender.jpg);
    background-repeat: no-repeat;
    background-position: bottom 00px; 
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#board > img {
    border: solid rgb(7, 7, 7);
    margin: 1vmin 3vmin;
    justify-content: center;
    background-color: rgb(206, 99, 63); 
    background: linear-gradient(rgb(206, 99, 63), rgb(67, 19, 33));
    border-radius: 20%;
    height: 225px;
    width: 200px;
}
#board > img:hover {
    border: solid black;
    transform: scale(1.2);
}
#points {
    display: flex;
    justify-content: space-between
}
#belowboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resetbutton , .startbutton {
    display: flex;
    background-color: rgb(255, 251, 177);
    color: rgb(179, 91, 68);    
    font-size: 3vmax;
    animation: pulse-white 2s infinite;
    border-radius: 30px;
}
@keyframes pulse-white {
    0% {
      transform: scale(.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
      }
      
      100% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      }
    }
    
#countdown {
    background-color: rgba(179, 91, 68, 0.5);
    border-radius: 20px; 
    margin-top: 30px;
    font-size: 3vmax;
    color: black;
}

#points .wrong{
    background-color: rgba(179, 91, 68, 0.5);
    border-radius: 15px; 
    margin-top: 70px;
    font-size: 2vmax;
    color: black;
}
#gameresult {
    background-color: rgba(179, 91, 68, 0.5);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2vmax;
    color: black;
}
